.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffeecc;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navLink:hover {
  background-color: #ffc966;
  border-color: #e69500;
}

.home {
  background-color: #ff9999;
}

.cosmic {
  background-color: #99ccff;
}

.healthy {
  background-color: #99ff99;
}

.spicy {
  background-color: #ff8080;
}
